* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 1000px;
}

#bg-image {
  background-color: lightblue;
  width: 30vw;
}

#page-content {
  background-color: pink;
  width: 70vw;
}

h2 {
  margin: 0px;
}

#header-para {
  background-color: aqua;
  margin-top: 150px;
  margin-bottom: 0px;
  padding: 0px 100px 0px 50px;
}

form {
  display: flex;
}

#form-content {
  margin-top: 0px;
  background-color: bisque;
}

button {
  width: 230px;
  background-color: #596d48;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 0px;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}
