@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

:root {
  --button-color: #596d48;
  --button-hover-color: #435236;
  --button-press-color: #38442d;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h2 {
  margin: 10px;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#logo-pane {
  position: relative;
  background: no-repeat center/cover url("assets/cat.jpg");
  width: 30vw;
}

#logo {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.116);
  top: 15vh;
  font-size: 3em;
  text-align: center;
  left: 0;
  right: 0;
  border-radius: 30px;
}

#logo-pane p {
  position: absolute;
  top: 95vh;
  color: white;
  text-align: center;
  left: 0;
  right: 0;
}

#logo-pane a:link,
#logo-pane a:visited {
  color: white;
}

#page-content {
  background-color: rgb(247, 247, 247);
  width: 70vw;
}

#page-content > * {
  padding-left: 50px;
}

#header-para {
  min-height: 20vh;
  margin-top: 150px;
  margin-bottom: 0px;
  padding-right: 25vw;
}

#page-content h2 {
  margin: 0px;
  padding: 20px 0px;
}

#form-pane {
  margin-top: 0px;
  background-color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 35vw;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 40%;
  margin: 0px 0px 20px 0px;
}

label {
  font-size: 0.7em;
  font-weight: 500;
  letter-spacing: 0.2em;
}

input {
  width: 300px;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  padding: 10px;
  font-size: 1em;
}

input:focus {
  outline: none;
  border: 1px solid blue;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

button {
  height: 50px;
  width: 230px;
  background-color: var(--button-color);
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 0px;
  border-radius: 8px;
  margin-top: 30px;
  padding: 12px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: var(--button-hover-color);
}

button:active {
  background-color: var(--button-press-color);
}

#bottom-pane p {
  font-size: 1.2em;
}

#bottom-pane a:link,
#bottom-pane a:visited {
  font-weight: 600;
  color: var(--button-color);
  text-decoration: none;
}
