* {
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#logo-pane {
  position: relative;
  background: no-repeat center/120% url("assets/cat.jpg");
  background-color: lightblue;
  width: 30vw;
}

#logo-pane p {
  position: relative;
  top: 90vh;
  color: white;
  text-align: center;
}

#logo-pane a:link, #logo-pane a:visited {
  color: white;
}

#page-content {
  background-color: pink;
  width: 70vw;
}

#page-content > * {
  padding-left: 50px;
}

#header-para {
  background-color: aqua;
  min-height: 20vh;
  margin-top: 150px;
  margin-bottom: 0px;
  padding-right: 5vh;
}

h2 {
  margin: 0px;
  padding: 20px 0px;
}

#form-pane {
  margin-top: 0px;
  background-color: bisque;
}

form {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
}

.form-field {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0px 40px 20px 0px;
}

input {
  max-width: 200px;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  padding: 5px;
}

input:focus {
  outline: none;
  border: 1px solid blue;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

button {
  width: 230px;
  background-color: #596d48;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: 0px;
  border-radius: 8px;
  padding: 12px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: blueviolet;
}

button:active {
  background-color: blue;
}
